/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
	outline: none;
}
a:focus,a:active{
	outline: none;
}
nav,footer,header,aside{
	display: block;
}
html,body{
	height:100%;
	width:100%;
	font-size:100%;
	line-height:1;
	font-size:14px;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
input,button,textarea{
	font-family:inherit;
}
input::-ms-clear{
	display: none;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}

a,a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;font-weight: inherit;
}
/*--------------------*/

body{
	font-family: 'JetBrains Mono', monospace;
	color: #e4ece3e8;
	font-size: 16px;
	font-weight: 500;
	/* font-family: 'Open Sans', sans-serif; */
}



/* -------------------------- */
.wrapper{
	overflow: hidden;
	min-height: 100%;
	/* display: flex;
	flex-direction: column; */
}

._container{
	max-width: 1100px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

._ibg{
	position: relative;
}

._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* --------ШАПКА------------------- */

.header {
	position: absolute;
	/* position: fixed; */
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	/* background: #000; */
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

.header__logo {
	font-weight: 700;
	font-size: 30px;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 140px;
}

@media (max-width: 992px){
	.header__menu {
		margin: 0px 0px 0px 100px;
	}
}

@media (max-width: 767px){
	.header__menu {
		margin: 0px 0px 0px 50px;
	}
}

.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	margin: 7px 21px 0px 0px;
}

.menu__item:last-child{
	margin: 7px 0px 0px 0px;
}

.menu__link {
	font-weight: 600;
	color: inherit;
	line-height: 171%;
	font-size: 20px;
}

@media (max-width: 628px){
	.menu__link {
		font-size: 22px;
	}
}

@media (max-width: 450px){
	.header__container{
		flex-direction: column;
	}
	.header__logo{
		padding: 8px 0px 7px 0px;
	}
}

/* --------MAIN------------------- */

.page{
	flex: 1 1 auto;
}

.page__main-block {
	background: url('../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg') top right no-repeat fixed;
}
.main-block {
	position:relative;
}

.main-block__container {

}

.main-block__block{
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 900px;
}

.main-block__title {
	font-size: 48px;
	line-height: 121%;
	font-weight: 800;
}


.main-block__items {
}
.main-block__item {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(60px);
}

@media (max-width: 807px){
	.main-block__title{
		display: none;
	}
	.page__main-block{
		height: 350px;
	}
}
/* 
@media (max-width: 480px){
	.page__main-block{
		height: 140px;
	}
} */

.page__help-items {
	margin-top: -130px;
}

.help-items {
}

.help-items__container {

}

.help-items__body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 30px;
}

/* @media (max-width:782px)
{
	.help-items__body {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 2fr;
	}
} */

.help-items__column{

}

.help-items__item {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(60px);
	color: rgb(24, 12, 12);
	z-index: 2;
}

.help-item {
	position: relative;
}
.help-item__title {
	color: white;
	font-size: 20px;
	padding: 30px;
	font-weight: 600;
}

.help-item__link{
	color: inherit;
}

.help-item__text {
	padding: 0px 30px 30px 30px;
	color: white;
	font-size: 18px;
}

@media (max-width : 807px)
{
	.help-items__body {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.help-item__text{
		display: none;
	}
	.page__help-items {
		margin-top: -240px;
	}

}

@media (max-width : 536px)
{
	.page__main-block{
		height: 500px;
	}

	.page__help-items {
		margin-top: -300px;
	}
	
	.help-items__body {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}


/* --------Карточки цветов/flowers------------------- */

.page__flowers {
	/* background-image: url('../img/karen-martinez-_bHzC5CSyYY-unsplash.jpg'); */
	margin-top: 70px;
}
.flowers {
}
.flowers__container {
}
._container {
}
.flowers__body {
	display: grid;
	grid-template-columns: minmax(200px,550px) minmax(200px,550px);
	/* grid-template-rows: minmax(350px,100%) minmax(50px,1fr); */
	gap: 30px;
}

.flowers__items {
	/* background: #000; */
	background-color: white;
	box-shadow: 4px 11px 8px 5px rgba(65, 122, 89, 0.27);
	border-radius: 5px;
	/* box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6); */
}
.item {
	color: black;
	padding: 30px;
}
.item__title {
	font-size: 24px;
	padding-bottom: 10px;
	font-weight: 600;
}

.item__img{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	padding: 0px 0px 58% 0px;
}

.item__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.item__text {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
}


@media (max-width: 807px){
	.item__text{
		display: none;
		padding: 0;
	}
	.item__img{
		max-height: 200px;
		margin-bottom: 15px;
	}
	.item__title {
		padding-top: 5px;
		padding-bottom: 0px;
	}
}

@media (max-width : 536px)
{
	.flowers__body {
		grid-template-columns: minmax(200px,550px);
	}
	.item__img{
		height: auto;
		margin-bottom: 15px;
	}
}

/* --------ПОДВАЛ------------------- */

.footer{
	margin-top: 40px;
	background: url('../img/annie-spratt-vs6a4EHj_Ro-unsplash.jpg') top right no-repeat fixed;
	min-height: 100px;
}
